@using Application.ViewModels
@model Application.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Alumnos Registrados</h2>
            <p>
                Existen @Model.Alumnos.Count alumnos
            </p>
            @if (Model.Alumnos.Count > 0) {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(AlumnoViewModel alumno in Model.Alumnos) {
                            <tr>
                                <td>
                                    @alumno.Nombre
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-md-6">
            <h2>Materias</h2>
            <p>
                Existen @Model.Materias.Count materias
            </p>
            @if (Model.Materias.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Materia</th>
                            <th>Registrados</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MateriaViewModel materia in Model.Materias)
                        {
                            <tr>
                                <td>@materia.Nombre</td>
                                <td>
                                    @foreach (var registrado in materia.Registrados)
                                    {
                                        <p>
                                            @registrado.Nombre
                                        </p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
